body {
	background-color: #e4e4e4;
	font-family: sans-serif;
	user-select: none;
}

canvas#gamearea {
	position: absolute;
	left: 20px;
	top: 20px;
	border: 1px solid black;
	background-color: #ffffff;
	box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.7);
}

div#scoreboard {
	position: absolute;
	left: 350px;
	top: 20px;
	width: 130px;
	border: 1px solid black;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.7);
}

canvas#preview {
	position: absolute;
	left: 350px;
	top: 250px;
	width: 130px;
	height: 130px;
	padding: 3px;
	border: 1px solid black;
	background-color: #ffffff;
	box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.7);
}

div.right {
	text-align: right;
}

div#mobilebuttons {
	position: absolute;
	display: none;
	grid-column-gap: 3px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	bottom: 10px;
	left: 20px;
	right: 20px;
	padding: 6px;
	background-color: rgba(122, 122, 122, 0.2);
	border: 1px solid black;
	box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.7);
	border-radius: 5px;
}

div.btn_mobile {
	text-align: center;
	background-color: rgba(122, 122, 122, 0.2);
	border: 1px solid rgba(43, 43, 43, 0.7);
	box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.7);
	border-radius: 5px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	margin-left: 2px;
}

div.btn_mobile > span {
	font-size: 200%;
	color: #424242;
	vertical-align: middle;
}

button {
	width: 100%;
	height: 50px;
	margin-bottom: 8px;
}